@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
.profile {
  display: none;
}

@media only screen and (max-width: 875px) {
  .navs {
    display: none;
  }
  .profile {
    display: block;
  }
}
